.svgLoader {
    -webkit-animation: spint 1.0s infinite ease-in-out;
    animation: spin 1.0s infinite ease-in-out;
    margin: auto;
}

.divLoader {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

::selection {
    color: #ffffff;
    background-color: #cc102a;
}

button {
    cursor: pointer;
    outline: none;
}

.language {
    text-align: right;
    margin: 10px;
}

.btnLanguage {
    border: none;
    background-color: transparent;
    font: 19px 'AvenirNextLTPro-Regular', sans-serif;
    color: #333;
}

.borderRight {
    border-right: 1px solid #333;
    width: 1px;
    margin-left: -3px;
}

.active {
    color: #cc102a;
}

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("30808.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.form-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.part1 {
    display: block;
    width: 100%;
}

.part2 {
    display: block;
    width: 100%;
}

h1 {
    text-align: center;
    width: 100%;
    color: #111;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

label {
    font-size: 0.8em;
    margin-bottom: 0.25em;
    color: #222;
    font-weight: lighter;
}

input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
}

input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #999;
}

input.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
}

.firstName,
.lastName,
.email,
.username,
.password,
.password_confirm {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.firstName,
.lastName,
.email,
.username,
.password,
.password_confirm {
    width: 100%;
}

.createAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createAccount button {
    background-color: #cc102a;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
}

.createAccount button:hover {
    color: #cc102a;
    background-color: #fff;
    border: 2px solid #cc102a;
}

.createAccount small {
    color: #999;
    font-weight: lighter;
}
